{% extends 'social/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card p-4">
            <legend class="text-center">User Login</legend>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" placeholder="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input class="form-control" type="email" placeholder="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input class="form-control" type="password" placeholder="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="username">Confirm password</label>
                    <input class="form-control" type="password" placeholder="confirm password" name="confirm-password" required>
                </div>
                <div class="form-inline">
                    <button class="btn btn-primary btn-sm">sign up</button>
                    <p class="ml-2"><i>Have account? <a href="{% url 'userlogin' %}">sign in</i></a></p>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

{% endblock %}